<table class="w-full bg-[#f8f9fa] p-5 mt-[20px] sm:mx-[14px]">
    <tr>
      <td class="text-center">
        <table class="w-full bg-white p-5 rounded-lg">
          
          <!-- Header -->
          <tr>
            <td class="flex items-center">
              <table class="w-full">
                <tr>
                  <td class="w-[100px] h-[40px] bg-[#D9D9D9] inline-block"></td>
                  <td class="pl-2 text-xs font-normal font-primary text-[#002B2B]">
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  